*/__pycache__/*
.DS_Store
._*
.docker_temp*
.txt
*.pyc
.vscode
slurm_out
# Ignore nextflow files in development
# *.nf
nf_template.sh

*.sif
spatial_features_matrix_TCGA.csv
TEST-*
clincial_file*.tsv
data/clinical_file_TCGA_SKCM.tsv
*.tar.gz

# Skip data files
output_*


.nextflow.log*
.nextflow/*

work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
.nextflow/history

data_example/
output/
assets/checkpoint
assets/codebook.txt
asse

spotlight.sif
plugins/*


DUMMY-*
BACKUP-*
test-data


ARCHIVE


gaitilab.config
nf_run_spotlight.sh
