Python/libs/model/__pycache__/
test_requirements.txt
docker_test
data/.DS_Store
.DS_Store
Python/.DS_Store
Python/1_extract_histopathological_features/.DS_Store
Python/libs/.DS_Store
data_example
._*
.docker_temp*
.txt
*.pyc
.vscode
slurm_out
output
# Ignore nextflow files in development
nf-*
.nextflow.log*
*.nf
.nextflow*
nf_template.sh
nextflow*

*.sif
spatial_features_matrix_TCGA.csv
TEST-*
clincial_file*.tsv
data/clinical_file_TCGA_SKCM.tsv
*.tar.gz

# Skip data files
output_*


.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc

output/
assets/checkpoint
assets/codebook.txt
asse

spotlight.sif
plugins/*


DUMMY-*
BACKUP-*
test-data


ARCHIVE


gaitilab.config
nf_run_spotlight.sh
